- electric car counts in seoul: https://data.seoul.go.kr/dataList/OA-21245/F/1/datasetView.do
- seoul population: https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1IN1502&vw_cd=MT_ZTITLE&list_id=A11_2015_1_10_10&scrId=&seqNo=&lang_mode=ko&obj_var_id=&itm_id=&conn_path=MT_ZTITLE&path=%252FstatisticsList%252FstatisticsListIndex.do

In [1]:
import pandas as pd

In [6]:
#read numbers of ev cars in seoul
raw = pd.read_csv("seoul_ev.csv", encoding='cp949')
raw.head()

,기준년월,사용본거지시읍면동_행정동기준,차명,연료,최초등록일,현소유자의출생년도,제원관리번호
0,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200910,1977.0,01020007000041319
1,202202,서울특별시 강남구 개포1동,그랜저 하이브리드,하이브리드(휘발유+전기),20170710,1959.0,A0810010800451317
2,202202,서울특별시 강남구 개포1동,토요타 Camry Hybrid,하이브리드(휘발유+전기),20210309,1942.0,01020006500091320
3,202202,서울특별시 강남구 개포1동,렉서스 ES300h,하이브리드(휘발유+전기),20210528,1966.0,01020006800021320
4,202202,서울특별시 강남구 개포1동,토요타 RAV4 Hybrid AWD,하이브리드(휘발유+전기),20200630,1970.0,01020007000041319

In [7]:
#filter only electric car
raw = raw.loc[raw['연료'] == '전기', ['기준년월', '사용본거지시읍면동_행정동기준', '차명', '연료']]
raw = raw.rename(columns={"사용본거지시읍면동_행정동기준":"주소"})
raw = raw.dropna()
#get district col
raw["구"] = raw["주소"].map(lambda x : x.split()[1])

In [34]:
#get total ev cars in each district in seoul
df = raw.groupby("구")["차명"].count().sort_values(ascending=False).to_frame()
df = df.rename(columns={"차명" : "전기차수"})
df.reset_index(inplace = True)
df = df.rename(columns = {'구':'District',	'전기차수':'Count'})
df

   District  Count
0       강남구  12173
1       구로구   3799
2       서초구   3495
3      영등포구   2388
4       송파구   1988
5       강서구   1776
6       성동구   1461
7       강동구   1293
8       마포구   1086
9       양천구    998
10      용산구    968
11       중구    968
12      성북구    926
13      은평구    901
14      노원구    896
15      중랑구    778
16      관악구    777
17      동작구    726
18     서대문구    669
19     동대문구    659
20      도봉구    639
21      광진구    623
22      종로구    611
23      금천구    561
24      강북구    514

In [65]:
#read numbers of population in seoul
df_ppl = pd.read_csv("seoul_ppl.csv")
df_ppl.head()

,행정구역별(읍면동),2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7,2022.8,...,2022.10,2022.11,2022.12,2022.13,2022.14,2022.15,2022.16,2022.17,2022.18,2022.19
0,행정구역별(읍면동),총인구 (명),남자 (명),여자 (명),내국인-계 (명),내국인-남자 (명),내국인-여자 (명),외국인-계 (명),외국인-남자 (명),외국인-여자 (명),...,일반가구 (가구),집단가구 (가구),외국인가구 (가구),주택-계 (호),단독주택 (호),아파트 (호),연립주택 (호),다세대주택 (호),비거주용 건물내 주택 (호),주택이외의 거처 (호)
1,전국,51692272,25835298,25856974,49939926,24866514,25073412,1752346,968784,783562,...,21773507,17212,592468,19155585,3860997,12268973,530985,2283238,211392,1162311
2,읍부,5098892,2621409,2477483,4879206,2484040,2395166,219686,137369,82317,...,2096426,2473,63413,2050655,583479,1210871,81057,143781,31467,81935
3,면부,4506486,2348865,2157621,4244198,2162250,2081948,262288,186615,75673,...,2035906,4051,61160,2113084,1543756,426992,37634,72426,32276,110037
4,동부,42086894,20865024,21221870,40816522,20220224,20596298,1270372,644800,625572,...,17641175,10688,467895,14991846,1733762,10631110,412294,2067031,147649,970339

In [66]:
# Make the first row the new header
df_ppl.columns = df_ppl.iloc[0]
#get the list of districts in seoul
list_district = list(df['District'])
#filter by districts in seoul
df_ppl = df_ppl[df_ppl['행정구역별(읍면동)'].isin(list_district)]
df_ppl.reset_index(drop=True, inplace = True)

In [67]:
# Drop the last 6 rows
df_ppl = df_ppl.iloc[:-6]
#subset cols
df_ppl = df_ppl.iloc[:, :2]
#reset_index
df_ppl.reset_index(drop=True, inplace = True)
#rename cols
df_ppl = df_ppl.rename(columns = {'행정구역별(읍면동)':'District', '총인구 (명)':'Population'})
#make population in int
df_ppl['Population'] = df_ppl['Population'].astype(int)
df_ppl

0  District  Population
0       종로구      147512
1        중구      125257
2       용산구      219289
3       성동구      282131
4       광진구      346519
5      동대문구      350709
6       중랑구      379127
7       성북구      436113
8       강북구      287788
9       도봉구      304137
10      노원구      496423
11      은평구      454649
12     서대문구      318308
13      마포구      362408
14      양천구      426981
15      강서구      555999
16      구로구      424038
17      금천구      247185
18     영등포구      401805
19      동작구      386605
20      관악구      496743
21      서초구      383181
22      강남구      500149
23      송파구      635758
24      강동구      448655

In [68]:
# Merge the DataFrames based on the common column 'District'
fin_df = pd.merge(df, df_ppl, on='District', how='inner')
fin_df

   District  Count  Population
0       강남구  12173      500149
1       구로구   3799      424038
2       서초구   3495      383181
3      영등포구   2388      401805
4       송파구   1988      635758
5       강서구   1776      555999
6       성동구   1461      282131
7       강동구   1293      448655
8       마포구   1086      362408
9       양천구    998      426981
10      용산구    968      219289
11       중구    968      125257
12      성북구    926      436113
13      은평구    901      454649
14      노원구    896      496423
15      중랑구    778      379127
16      관악구    777      496743
17      동작구    726      386605
18     서대문구    669      318308
19     동대문구    659      350709
20      도봉구    639      304137
21      광진구    623      346519
22      종로구    611      147512
23      금천구    561      247185
24      강북구    514      287788

In [69]:
district_mapping = {
    '강남구': 'Gangnam-gu',
    '강동구': 'Gangdong-gu',
    '강서구': 'Gangseo-gu',
    '관악구': 'Gwanak-gu',
    '광진구': 'Gwangjin-gu',
    '구로구': 'Guro-gu',
    '노원구': 'Nowon-gu',
    '동대문구': 'Dongdaemun-gu',
    '동작구': 'Dongjak-gu',
    '마포구': 'Mapo-gu',
    '서대문구': 'Seodaemun-gu',
    '서초구': 'Seocho-gu',
    '송파구': 'Songpa-gu',
    '영등포구': 'Yeongdeungpo-gu',
    '용산구': 'Yongsan-gu',
    '은평구': 'Eunpyeong-gu',
    '종로구': 'Jongno-gu',
    '중구': 'Jung-gu',
    '중랑구': 'Jungnang-gu',
    '금천구': 'Geumcheon-gu',
    '도봉구': 'Dobong-gu',
    '강북구': 'Gangbuk-gu',
    '성북구': 'Seongbuk-gu',
    '양천구': 'Yangcheon-gu',
    '성동구': 'Seongdong-gu'
}
fin_df['District'] = fin_df['District'].map(district_mapping)
fin_df.head()

          District  Count  Population
0       Gangnam-gu  12173      500149
1          Guro-gu   3799      424038
2        Seocho-gu   3495      383181
3  Yeongdeungpo-gu   2388      401805
4        Songpa-gu   1988      635758

In [71]:
#save in csv file
fin_df.to_csv('ev_info_seoul.csv', index=False)